;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [re-frame "1.3.0-rc3"]]

 :dev-http
 {8080 "public"}

 :builds
 {:counter {:target :browser
            :output-dir "public/"
            :asset-path "public/assets"
            :modules {:main {:entries [counter]}}}}}
